<!DOCTYPE html>
<html>
    <head>
        <title>Inception</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="menu">
            <a href="#home">Trailer</a>
            <a href="#info">Information</a>
            <a href="#reviews">Reviews</a>
        </div>
        <section id="home">
            <h1>Inception</h1>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/YoHD9XEInc0?si=HSyMY4x2u4nT3G7f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <section id="info">
            <h2>Production Company</h2>
            <p>
                Paramount Pictures<br>
                Warner Bros. Pictures<br>
                Legendary Pictures<br>
                Syncopy Inc.
            </p>
            <h2>Director</h2>
            <p>Christopher Nolan</p>
            <h2>Cast Members</h2>
            <p>
                Leonardo DiCaprio<br>
                Ken Watanabe<br>
                Joseph Gordon-Levitt<br>
                Marion Cotillard<br>
                Elliot Page<br>
                Tom Hardy<br>
                Cillian Murphy<br>
                Tom Berenger<br>
                Michael Caine
            </p>
            <h2>Stage Crew Members</h2>
            <p>Christopher Nolan – Director, producer, writer<br>
                Jonathan Nolan – Writer<br>
                Emma Thomas – Producer<br>
                Lynda Obst – Producer<br>
                Hoyte van Hoytema – Cinematographer<br>
                Nathan Crowley – Production designer<br>
                Mary Zophres – Costume designer<br>
                Lee Smith – Editor<br>
                Hans Zimmer – Music composer<br>
                Paul Franklin – Visual effects supervisor<br>
                Kip Thorne – Consultant, executive producer
            </p>
        </section>
        <section id="reviews">
            <h1>Reviews</h1>
            <div class="review">
                <a href="https://www.rogerebert.com/reviews/inception-2010" target="_blank">
                    <img src="../assets/images/roger-ebert-logo.svg" width="300" height="100"/><br>
                    It's said that Christopher Nolan spent ten years writing his screenplay for "Inception." That must have involved 
                    prodigious concentration, like playing blindfold chess while walking a tight-wire. The film's hero tests a young 
                    architect by challenging her to create a maze, and Nolan tests us...</a>
            </div>
            <div class="review">
                <a href="https://www.fourkents.com/blog/inception-review" target="_blank">
                    <img src="../assets/images/four_kents.png" width="300" height="100"/><br>
                    I must be dreaming… because I think I’ve just seen the best film of the year… and we’re only half-way through the year! 
                    I must be dreaming… because ‘Inception’ was way too good. I must be dreaming… because I loved ‘Inception’ even 
                    though I probably only understood about 90% of the film...</a>
            </div>
        </section>
            
    </body>
</html>