<!DOCTYPE html>
<html>
    <head>
        <title>Interstellar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="menu">
            <a href="#home">Trailer</a>
            <a href="#info">Information</a>
            <a href="#reviews">Reviews</a>
        </div>
        <section id="home">
            <h1>Interstellar</h1>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zSWdZVtXT7E?si=HfDdf7MACHuiJaHq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <section id="info">
            <h2>Production Company</h2>
            <p>
                Paramount Pictures<br>
                Warner Bros. Pictures<br>
                Legendary Pictures<br>
                Syncopy Inc.<br>
                Lynda Obst Productions
            </p>
            <h2>Director</h2>
            <p>Christopher Nolan</p>
            <h2>Cast Members</h2>
            <p>	
                Matthew McConaughey<br>
                Anne Hathaway<br>
                Jessica Chastain<br>
                Bill Irwin<br>
                Ellen Burstyn<br>
                Michael Caine
            </p>
            <h2>Stage Crew Members</h2>
            <p>Christopher Nolan – Director, producer, writer<br>
                Jonathan Nolan – Writer<br>
                Emma Thomas – Producer<br>
                Lynda Obst – Producer<br>
                Hoyte van Hoytema – Cinematographer<br>
                Nathan Crowley – Production designer<br>
                Mary Zophres – Costume designer<br>
                Lee Smith – Editor<br>
                Hans Zimmer – Music composer<br>
                Paul Franklin – Visual effects supervisor<br>
                Kip Thorne – Consultant, executive producer
            </p>
        </section>
        <section id="reviews">
            <h1>Reviews</h1>
            <div class="review">
                <a href="https://www.rogerebert.com/reviews/interstellar-2014" target="_blank">
                    <img src="../assets/images/roger-ebert-logo.svg" width="300" height="100"/><br>
                    Christopher Nolan's "Interstellar," about astronauts traveling to the other end of the galaxy to find a new home to 
                    replace humanity's despoiled home-world, is frantically busy and earsplittingly loud. 
                    It uses booming music to jack up the excitement level of scenes that might not otherwise...</a>
            </div>
            <div class="review">
                <a href="https://slate.com/culture/2014/10/christopher-nolans-interstellar-reviewed.html" target="_blank">
                    <img src="../assets/images/SLATE.png" width="300" height="100"/><br>
                    Anyone bemoaning the dearth of original scripts in a movie marketplace dominated by adaptations, remakes, and sequels 
                    should in theory be thrilled by Christopher Nolan’s Interstellar, a sprawling metaphysical science-fiction epic that’s 
                    nothing if not original. Interstellar does engage in its share of homages and borrowings from film history:...</a>
            </div>
        </section>
        
    </body>
</html>