<!DOCTYPE html>
<html>
    <head>
        <title>Shutter Island</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <div class="menu">
            <a href="#home">Trailer</a>
            <a href="#info">Information</a>
            <a href="#reviews">Reviews</a>
        </div>
        <section id="home">
            <h1>Shutter Island</h1>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/v8yrZSkKxTA?si=Wno0Pvk0U_Pu3Q7A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>            
        </section>
        <section id="info">
            <h2>Production Company</h2>
            <p>
                Phoenix Pictures<br>
                Sikelia Productions<br>
                Appian Way Productions
            </p>
            <h2>Director</h2>
            <p>Martin Scorsese</p>
            <h2>Cast Members</h2>
            <p>
                Leonardo DiCaprio<br>
                Mark Ruffalo<br>
                Ben Kingsley<br>
                Michelle Williams<br>
                Emily Mortimer<br>
                Patricia Clarkson<br>
                Max von Sydow
            </p>
            <h2>Stage Crew Members</h2>
            <p>
                Christopher Nolan – Director, producer, writer<br>
                Jonathan Nolan – Writer<br>
                Emma Thomas – Producer<br>
                Lynda Obst – Producer<br>
                Hoyte van Hoytema – Cinematographer<br>
                Nathan Crowley – Production designer<br>
                Mary Zophres – Costume designer<br>
                Lee Smith – Editor<br>
                Hans Zimmer – Music composer<br>
                Paul Franklin – Visual effects supervisor<br>
                Kip Thorne – Consultant, executive producer
            </p>
        </section>
        <section id="reviews">
            <h1>Reviews</h1>
            <div class="review">
                <a href="https://www.rogerebert.com/reviews/shutter-island-2010" target="_blank">
                    <img src="../assets/images/roger-ebert-logo.svg" width="300" height="100"/><br>
                    "Shutter Island" starts working on us with the first musical notes under the Paramount logo's mountain, even before the 
                    film starts. They're ominous and doomy. So is the film. This is Martin Scorsese's evocation of the delicious shuddering 
                    fear we feel when horror movies ...</a>
            </div>
            <div class="review">
                <a href="https://keithandthemovies.com/2022/12/01/review-shutter-island-2010/" target="_blank">
                    <img src="../assets/images/keith_movies.jpg" width="300" height="100"/><br>
                    “Shutter Island” is a film that usually gets tossed aside when discussing the greater movies of filmmaker Martin 
                    Scorsese. But since first seeing it in the theater during its original 2010 release (three times actually), I’ve stood 
                    firmly by my assertion that it’s absolutely top-tier Scorsese. I loved everything about it then, and I’ve found...</a>
            </div>
        </section>
        
    </body>
</html>